body {
  margin: 0px;
  width: 100vw;
  font-family: Apple Chancery, cursive !important;
  background-color: rgb(210, 210, 210);
  background-color: #e1d7c6;
}

.bodyy {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  transform: translateY(18vh);
}

.midd {
  transform: translate(0px, 8.5vh);
  width: 10vw;
  height: max-content;
}
.meds {
  padding: 0.1vw;
  border-radius: 25px 0px 25px 0px;
  box-shadow: 1px 2px 1px rgb(19, 19, 19);
}

.soru {
  padding-left: 45px;
  padding-top: 25px;
}
.meds {
  width: 250px;
  height: 50px;
  background-color: #f8f4ea;
  margin-left: 50px;
  margin-top: 25px;
  padding-bottom: 10px;
}
.counties {
  font-size: 1.2em;
}
.countRoll {
  font-size: 1.1em;
}
